<div class="row">
  <div class="col-1 offset-1  justify-content-center">
    <h1>Filter by brand</h1>
    <input type="radio" (change)="toggleEditable('all')" name="brand" checked>All
    <div *ngFor="let x of brands">
      <input type="radio" (change)="toggleEditable(x)" name="brand">{{x}}
    </div>
    
    
  </div>
  <div class="col-7 ">
    <div class="row ">
      <div class="col-md-3 " *ngFor="let x of bikes">
        <div class="card  shadow-sm d-flex flex-column" >
          <img class="bd-placeholder-img card-img-top " width="100%" [src]="x.imageURL" />
          <div class="card-body  mt-auto">
            <h2 class="card-title">
              {{x.name}}
            </h2>
            <h3 class="card-text">{{ x.price}} € </h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn" (click)="addToCart(x)">Add to
                  Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <h1>Cart</h1>
    <div  *ngFor="let x of cart" >
      <div class="d-flex justify-content-between p-1 m-1 border ">
          <h3>{{x.name}}--{{x.price}} €</h3>
          <button type="button" class="btn btn-danger" (click)="deleteBikeCart(x)">X</button>
        </div>
        
      </div>
      <div *ngIf="cart.length>0">Total: {{cartTotal}} €</div>
      <div *ngIf="cart.length<1"><h1 style="color:red">No items added yet!</h1></div>
  </div>
    

    

  